.input-area{
    border:1px solid black;
    width:80%;
    padding:15px;
    font-weight: bold;
    font-size: x-large;
    border-radius: 10px;
    background-color: rgb(222, 230, 227);
    margin-bottom: 5px;
    color:black;
}